header{
    padding-bottom: 20px;
    background-color: white;

}

.jumbotron{
    background: white;
    border-bottom: solid 2px grey;
    color: slategray;
}

main{
    padding-top: 10px;
    margin-top: 10px;
    text-align: center;
    margin: auto;


}

.math {
    color: black;
    font-weight: 200;
}

p{
    line-height: 2;
    color: black;
    font-weight: 100;
}

.font-weight-bold{
    margin-top: 20px;
}

.list-group{
    margin-bottom: 20px;
}