body{
    background-color: black;
    text-align: center;
    width: 80%;
    margin: auto;


}

header{
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Source Code Pro', monospace;
    color: greenyellow;
    ;


}
main{
    background-color:slategray;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 20px;

}

img {
    width: 400px;

}

h2{
    margin-top: 10px;
    font-family: 'Source Code Pro', monospace;
    color: white;
}

li{
    font-family: 'Source Code Pro', monospace;
    color: white;
    line-height: 2;
}